
.logo{
    font-size: 3vw;
    text-align: center;
    margin-right: 3%;
}

.containerDetailMain{
    display: flex;
    flex-wrap: wrap;
    color: aliceblue;
    justify-content: space-around;
    align-content: center;
}

.imageDetail{
    margin-top: 3%;
    margin-left: 5%;
}

.content{
    width: 50vw;
    margin-top: 4%;
    font-size: 2rem;
}

.contentContainer{
    display: flex;
    justify-content: space-between;
}

.buttonMovieDetail{
    background-color: aliceblue ;
    border: none;
}

.buttonMovieDetail:hover{
    opacity: 0.7;
    cursor: pointer;
}