.containerForm{
width: 30%;
margin: auto;
}

input{
    margin-top: 10%;
    margin-bottom: 10%;
    width: 100%;
    background-color: #304254;
    height: 7vh;
    border-radius: 5px;
    font-size: 2vw;
    border: 2px solid #DDE0E3;
}

input::placeholder {
    color: #DDE0E3;
  }

  textarea:focus, input:focus {
    box-shadow: 1 1 1 1;
    outline: 1;
    color:#DDE0E3
}

@media only screen and (max-width: 650px) {
  .containerForm{
    width: 50%;
  }
  input{
    font-size: 5vw;
  }
}