header{
        background-color: #1A242E;
        color: #DDE0E3;
        display: flex;
        height: 15vh;
        justify-content: space-between;
        align-content: center;
       
    }

.title{
    font-size: 3vw;
    color: #DDE0E3;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 3%;
}

.pages{
 display: flex;
 margin-right: 5%;
}

.page{
    margin:auto;
    font-size: 2vw;
}

@media only screen and (max-width: 650px) {
    header{
        display: block;
    }
    .title{
        font-size: 8vw;
        text-align: center;
    }
    .pages{
        margin-left:5%;
    }
    .page{
        font-size: 3vw;
    }
}